/* app css stylesheet */

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

.menu-bar {
  padding: 1rem;
  color: white;
  background-color: #2A373E;
  border-bottom: 1px solid;
}

.menu-bar * {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-bar a {
  color: #C4CFD4;
}

.home-location {
  white-space: nowrap;
}

.menu-bar h1 {
  font-size: 3.5rem;
  display: inline;
  white-space: nowrap;
  margin: 0 1em 0 0;
  font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.menu-bar>h1>a {
  color: white;
  text-decoration: none
}

.menu {
  list-style: none;
  float: right;
  text-align: right;
  width: auto;
  margin: 0
}

.def {
  position: absolute;
  margin-top: 2.5em;
  font-size: 0.5em;
  color: #C4CFD4;
  text-transform: uppercase;
}

.menu>li {
  display: inline;
  white-space: nowrap;
}

.formatSettings ul {
  list-style: none;
}

.formatSettings>ul>li {
  display: inline;
  margin-right: 1rem
}

.formatSettings .desc {
  font-size: 0.8em;
  color: gray;
}

.bold {
  font-weight: bold;
}

.cloak {
  visibility: hidden;
}

.city-list {
  max-width: 640px;
  margin: 5% auto;
}

.city-list label {
  font-size: 5rem;
  width: 100%;
}

.city-list table {
  font-size: 3rem;
  width: 100%;
}

.today>.header {
  font-size: 5rem;
  display: flex;
  align-items: center;
}

.today>.header h1 {
  margin: 0
}

.today>.header .wi-fc,
.today>.header .temperature {
  font-size: 12rem;
  margin-right: 1rem;
}

.today>.details {
  display: flex;
  align-items: center;
}

.today>.details p {
  margin-right: 1rem;
  font-size: 2rem
}

.future>.single {
  display: inline-block;
  align-items: center;
  margin: 1rem;
}

.future>.single h1 {
  margin-top: 0;
}

.wi-fc {
  color: #FF9800;
}

[class*="night"] {
  color: #03A9F4;
}

@media (max-width: 576px) {
  .today>.header .wi-fc,
  .today>.header .temperature {
    font-size: 6rem;
    margin-right: 1rem;
  }
  .today>.details p {
    margin-right: 1rem;
    font-size: 14px;
  }
  .menu-bar h1 {
    font-size: 2.5rem;
    display: inline;
    white-space: nowrap;
    margin: 0 1em 0 0;
    font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  }
}