/* app css stylesheet */

.menu {
  list-style: none;
  border: 0.1em solid black;
  float: right;
  margin: 2rem;
  padding: 2rem;
  max-width: 480px;
  width: 100%
}

.formatSettings ul {
  list-style: none;
}

.formatSettings>ul>li {
  display: inline;
  margin-right: 1rem
}

.formatSettings .desc {
  font-size: 0.8em;
  color: gray;
}

.bold {
  font-weight: bold
}

.future>.single {
  display: inline-block;
  margin: 1rem
}