<div class="city-list row">
    <label>Pick a city.<br/>
        <input id="cityInput" style="width:100%" type="text" data-ng-model="search.city" data-ng-change="filterCities()" autofocus>
    </label>

    <div data-ng-show="serverError">
        <h1>Something broke!</h1>
        <p>There are problems with connection to the server. Check your Internet, or contact Weather API administrator for further help.
    </div>
    <div ng-click="updateAddr()" id="cityResults" data-ng-show="search.results.length>0">
        <table class="table">
            <tr data-ng-repeat="city in search.results">
                <td><a href="#!/dashboard/{{city.place_id}}">{{ city.description }}</a></td>
                <td> <a class="button" href="#!/dashboard/{{city.place_id}}"><i class="fa fa-fw fa-thermometer-3" title="See forecast"></i></a></td>
                <td> 
                    <a data-ng-hide="savedCities[city.place_id]" class="button" data-ng-click="addCity(city)"><i class="fa fa-fw fa-star-o" title="Add to favourites"></i></a>
                    <a data-ng-show="savedCities[city.place_id]" class="button" data-ng-click="removeCity(city)"><i class="fa fa-fw fa-star" title="Remove from favourites"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>
